GENERATED_PLOTS/
__pycache__/
model/
시설군별/
전체 업태/
module/.ipynb_checkpoints
module/__pycache__
FACILITIES/
accom_deal_profile_48/

GENERATED_PROFILES/
GENERATED_PROFILES*/
*.zip
.*.swp
.*.swo
